p {
  font-family: Times, "Times New Roman", serif;
  font-size: 16px;
  color: #DECAFF;
}

#photo-styling {
  width: 250px;
  height: 300px;
  display: block;
  margin: 8px 0;
}

.table-borders {
  border: 1px solid #DECAFF;
  border-collapse: collapse;
}

.table-borders th,
.table-borders td {
  border: 1px solid #DECAFF;
  padding: 6px;
}
