/* Paragraph styling */
p {
  font-family: Times, "Times New Roman", serif;
  font-size: 16px;
  color: #DECAFF;
}

/* Resize photo */
#photo-resize {
  max-width: 250px;
  max-height: 300px;
  display: block;
  margin: 0.5rem 0;
}

/* Table border styling */
.table-border {
  border: 1px solid #DECAFF;
  border-collapse: collapse;
}

.table-border th,
.table-border td {
  border: 1px solid #DECAFF;
  padding: 0.5rem;
}
